//$primary:       #D824C3;
$primary:       #FFF;
$secondary:     #0F056B;
$success:       #C7D66D;
$info:          #C7E8F3;
$light:         #EDA2C0;
$gradient-left: #E935D4;
$text-color:    #0F056B;
$font-family-base: 'Broadway', sans-serif;
$font-family-text: 'Bahnschrift', sans-serif;

//$grid-breakpoints: (
//        xs: 320px,
//        sm: 576px,
//        md: 768px,
//        lg: 992px,
//        xl: 1200px,
//        xxl: 1400px
//) !default;

//$container-max-widths: (
//        xs: 320px,
//        sm: 540px,
//        md: 720px,
//        lg: 960px,
//        xl: 1140px,
//        xxl: 1320px
//) !default;

body{
  background-image: linear-gradient(to bottom, #44f82c, #44f82c);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: $font-family-base;
  color: #4D7298;
  height: 100%;
}

a, a:visited{
  color: $text-color;
  text-decoration: none;
}
p, a, li, td, th, button, input, textarea, label, h1, h2, h3, h4, h5, h6{
  color: $text-color;
}
p, footer a, input, textarea{
  font-family: $font-family-text;
  color: $text-color
}

.text-container-custom{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-container-custom p {
  padding: 0;
  margin: 0;
}

.text-box-custom{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  //background: #ABE86E;
  box-shadow: 0 0.5rem 1rem $text-color;
}

.image-box-custom, .image-box-custom>a>img{
  crop: auto;
  //border-radius: 75px;
  //border: 1px solid $text-color;
  width: 150px;
  height: 150px;
}

.fonttext{
  font-family: $font-family-text;
  color: $text-color;
}

.fontbase{
  font-family: $font-family-base;
}
.btn-primary{
  border: 1px solid $text-color;

  color: $text-color;
}
.btn-right{
  float: right;
}

.navbar-brand-custom{
 float: left;
  font-size: 4rem;
  padding-top:.3125rem;
  padding-bottom:.3125rem;
  margin-right:1rem;
  padding-left: 0;
  margin-left: 0;
  text-decoration:none;
  white-space:nowrap
}

.message{
  font-family: 'Brush Script MT', cursive;
  font-weight: bold;
  font-size: 2rem;
}
footer a, footer a:visited{
  text-decoration: none;
}

.bg-custom{
  background-color: #4be7f7;
  border-top: 1px solid #ABE86E;
  border-top-left-radius: 50% 20%;
  border-top-right-radius: 50% 20%;
}

.header-custom{
  background-image: linear-gradient(#FFF, #FFF);
  border-bottom-left-radius: 25% 10%;
  border-bottom-right-radius: 25% 10%;
  border-bottom: 1px solid #ABE86E;
}

.bg-bottom{
  background-color: #5cf8ff;
}
.pt-30{
  padding-top: 30px;
}
ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h2{
  font-weight:700;
  font-size:30px;
  letter-spacing: 2px;
}

h3{
  font-weight:700;
  font-size: 26px;
  letter-spacing: 2px;
}

li{
  padding-top: 10px;
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  color:#ddd;
}
.fa{
  font-size: 40px;
  padding-right: 15px;
}
.download{
  text-align: center;
  padding-top: 20px;
}.download .fa{
   padding-right: 25px;
   font-size: 50px;
 }
@media(max-width: 992px){
  h3{
    font-size: 18px;
  }
  .p-5 {
    padding: 2rem!important;
  }
}
@media(max-width: 830px){
  .pt-60{
    padding-top: 60px;
  }
  .col-md-3{
    padding-right:8px;
    padding-left: 8px;
  }
  h3 {
    font-size: 16px;
  }
}
@media(max-width: 768px){
  .col-md-3{
    text-align:center;
  }
  h3{
    font-size: 40px;
  }
  .input-group {
    margin-top:  1rem!important;
  }
  .pt-60{
    padding-top: 30px;
  }
}
@media(max-width: 475px){
  h3{
    font-size: 30px;
    padding-top: 30px;
  }
  .mobile-none{
    display:none;
  }
}
.item-list {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
}

.card{
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

/*----  Main Style  ----*/
#cards_landscape_wrap-2{
  text-align: center;
}
#cards_landscape_wrap-2 .container{
  padding-top: 80px;
  padding-bottom: 100px;
}
#cards_landscape_wrap-2 a{
  text-decoration: none;
  outline: none;
}
#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box{
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box img{
  -webkit-transition:all .9s ease;
  -moz-transition:all .9s ease;
  -o-transition:all .9s ease;
  width: 100%;
  height: 200px;
}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img{
  opacity: 0.7;
  -ms-transform:scale(1.15);
  transform:scale(1.15);
}
#cards_landscape_wrap-2 .card-flyer .text-box{
  text-align: center;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container{
  padding: 30px 18px;
}
#cards_landscape_wrap-2 .card-flyer{
  background: #FFFFFF;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}
#cards_landscape_wrap-2 .card-flyer:hover{
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}
#cards_landscape_wrap-2 .card-flyer .text-box p{
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}
#cards_landscape_wrap-2 .card-flyer .text-box h6{
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Black', sans-serif;
  letter-spacing: 1px;
  color: #00acc1;
}

.vich-image > a > img {
  width: 150px;
  height: 150px;
}