//$primary:       #D824C3;
$primary:       #FFF;
$secondary:     #0F056B;
$success:       #C7D66D;
$info:          #C7E8F3;
$light:         #EDA2C0;
$gradient-left: #E935D4;
$text-color:    #0F056B;
$font-family-base: 'Broadway', sans-serif;
$font-family-text: 'Bahnschrift', sans-serif;

// Colors used in logo
$customIColor:#44f82c;
$customOColor:#4be7f7;
$customNColor:#634af8;
$customSColor:#fb47e6;
$buttonColor:#4be7f7;



.btn-primary-custom{
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 1rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: $buttonColor;
  border-color: $buttonColor;
  color: $text-color;
}

.btn-primary-custom:hover{
  background-color: $customSColor;
}

body{
  background-image: linear-gradient(to bottom, #44f82c, #44f82c);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: $font-family-base;
  color: $text-color;
  height: 100%;
}

a, a:visited{
  color: $text-color;
  text-decoration: none;
  cursor: pointer;
}
p, a, li, td, th, button, input, textarea, label, h1, h2, h3, h4, h5, h6{
  color: $text-color;
}
p, footer a, input, textarea{
  font-family: $font-family-text;
  color: $text-color
}

.text-container-custom{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-container-custom p {
  padding: 0;
  margin: 0;
  color: $text-color;
}

.text-box-custom{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem $text-color;
}

.image-box-custom, .image-box-custom>a>img{
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}
.image-box-custom>a>img{
  max-width: inherit;
  max-height: inherit;
  margin: 0.1rem;
}

.fonttext{
  font-family: $font-family-text;
  color: $text-color;

}

.fontbase{
  font-family: $font-family-base;
}
.btn-primary{
  border: 0.06rem solid $text-color;
  color: $text-color;
  border-radius: 1rem;
}
.btn-right{
  flex-direction: row-reverse;
}

.rectangle {
  width  : 15rem;
  height : 25rem;
  border: 0.06rem solid $text-color;
  border-radius: 0.5rem;
}

.rectangle img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card-custom{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #eee;
  background-clip: border-box;
  border: 0.06rem solid rgba(0, 0, 0, 0.125);
  border-radius: 3rem;
  box-shadow: 0 0.5rem 1rem $text-color;
  padding: 2rem;
  margin: 2rem;
}

.navbar-brand-custom{
 float: left;
  font-size: 4rem;
  padding-top:.3125rem;
  padding-bottom:.3125rem;
  margin-right:1rem;
  padding-left: 0;
  margin-left: 0;
  text-decoration:none;
  white-space:nowrap
}

.message{
  font-family: 'Brush Script MT', cursive;
  font-weight: bold;
  font-size: 2rem;
}
footer a, footer a:visited{
  text-decoration: none;
}

.bg-custom{
  background-color: #4be7f7;
  border-top: 0.06rem solid #ABE86E;
  border-top-left-radius: 50% 20%;
  border-top-right-radius: 50% 20%;
}

.header-custom{
  background-image: linear-gradient(#FFF, #FFF);
  border-bottom-left-radius: 25% 10%;
  border-bottom-right-radius: 25% 10%;
  border-bottom: 0.06rem solid #ABE86E;
}

.bg-bottom{
  background-color: #5cf8ff;
}
.pt-30{
  padding-top: 1.9rem;
}
ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h2{
  font-weight:700;
  font-size:1.9rem;
  letter-spacing: 0.12rem;
}

h3{
  font-weight:700;
  font-size: 1.6rem;
  letter-spacing: 0.12rem;
}

li{
  padding-top: 0.6rem;
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  color:#ddd;
}
.fa{
  font-size: 2.5rem;
  padding-right: 0.9rem;
}
.btn-back{
  width: 3rem;
  margin: 3rem;
  cursor: pointer ;
}
.download{
  text-align: center;
  padding-top: 1.25rem;
}.download .fa{
   padding-right: 1.5rem;
   font-size: 3.1rem;
 }
@media(max-width: 62rem){
  h3{
    font-size: 1.12rem;
  }
  .p-5 {
    padding: 2rem!important;
  }
}
@media(max-width: 52rem){
  .pt-60{
    padding-top: 3.75rem;
  }
  .col-md-3{
    padding-right:0.5rem;
    padding-left: 0.5rem;
  }
  h3 {
    font-size: 1rem;
  }
}
@media(max-width: 48rem){
  .col-md-3{
    text-align:center;
  }
  h3{
    font-size: 2.5rem;
  }
  .input-group {
    margin-top:  1rem!important;
  }
  .pt-60{
    padding-top: 1.9rem;
  }
}
@media(max-width: 30rem){
  h3{
    font-size: 1.9rem;
    padding-top: 1.9rem;
  }
  .mobile-none{
    display:none;
  }
}
.item-list {
  display: grid;
  grid-gap: 0.6rem;
  grid-template-columns: repeat(auto-fill, minmax(8.75rem, 1fr));
}

.card{
  border-radius: 0.25rem;
  background: #fff;
  box-shadow: 0 0.375rem 0.625rem rgba(0,0,0,.08), 0 0 0.375rem rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 0.875rem 5rem 1.125rem 2.25rem;
  cursor: pointer;
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 0 0.625rem 1.25rem rgba(0,0,0,.12), 0 0.25rem 0.5rem rgba(0,0,0,.06);
}

#cards_landscape_wrap-2{
  text-align: center;
}
#cards_landscape_wrap-2 .container{
  padding-top: 5rem;
  padding-bottom: 6rem;
}
#cards_landscape_wrap-2 a{
  text-decoration: none;
  outline: none;
}
#cards_landscape_wrap-2 .card-flyer {
  border-radius: 0.8rem;
}
#cards_landscape_wrap-2 .card-flyer .image-box{
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0 0.125rem 1rem rgba(0, 0, 0, 0.50);
  border-radius: 1rem;
}
#cards_landscape_wrap-2 .card-flyer .image-box img{
  -webkit-transition:all .9s ease;
  -moz-transition:all .9s ease;
  -o-transition:all .9s ease;
  width: 100%;
  height: 12rem;
  object-fit: cover;
}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img{
  opacity: 0.7;
  -ms-transform:scale(1.15);
  transform:scale(1.15);
}
#cards_landscape_wrap-2 .card-flyer .text-box{
  text-align: center;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container{
  padding: 1.8rem 1.1rem;
}
#cards_landscape_wrap-2 .card-flyer{
  background: #FFFFFF;
  margin-top: 3.2rem;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0 0.19rem 0.25rem rgba(0, 0, 0, 0.40);
}
#cards_landscape_wrap-2 .card-flyer:hover{
  background: #fff;
  box-shadow: 0 1rem 1.6rem rgba(0, 0, 0, 0.50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 3rem;
}
#cards_landscape_wrap-2 .card-flyer .text-box p{
  margin-top: 0.6rem;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 0.9rem;
  letter-spacing: 0.06rem;
  color: #000000;
}
#cards_landscape_wrap-2 .card-flyer .text-box h6{
  margin-top: 0;
  margin-bottom: 0.25rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Black', sans-serif;
  letter-spacing: 0.06rem;
  color: #00acc1;
}

.vich-image > a > img {
  width: 9.5rem;
  height: 9.5rem;
}
  .details-card{
    background-color: #fff;
    width: 100%;
    border-radius: 5rem;
    padding: 1.5rem 0.5rem;
  }
  .details-image img{
    width: 100%;
    height: auto;
    border-radius: 5rem;
  }

  .logo{
    margin-top: 0.5rem;
    margin-left: 1rem;

  }

  .logo-container{
    float:left;
  }

  .header-container{
    min-height: 4rem;
  }

  .valid-button{
    color: $text-color;
    font-weight: bold;
    font-size: 1.6rem;
  }

.btn-primary-custom:hover .valid-button{
    color: #fff;
  }

.btn-danger-custom {
  color: $customSColor;
  text-decoration: none;
  margin: 0.5rem;
}
.btn-danger-custom:link, .btn-danger-custom:visited {
  color: $customSColor;
  text-decoration: none;
}

.btn-danger-custom:hover {
  color: #fff;
}

.custom-i-color{
  color: $customIColor;
}
.custom-o-color{
  color: $customOColor;
}