<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Vous avez des collections dont vous êtes fier ? Venez les enregistrer, et tout
        le monde pourra les admirer ! Qu'il s'agisse de Petshops, de Schleichs ou d'autres jouets ou objets, c'est
        ici que vous pourrez les montrer au monde ! Vous pouvez aussi bien sûr regarder les acquisitions des autres
        utilisateurs de notre site.">
    <title>Mes collections{% block title %}{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    <meta name="google-site-verification" content="8yosMUkg4oox9P861cK6cdTE_h1aP5jPJR3dfYl2wz4" />
</head>
<body class="background">
    {% include 'inc/_header.html.twig' %}

    <div class="container-fluid">
        {{ include('_flash_message.html.twig') }}
        {% block body %}
        {% endblock %}
    </div>
    {% if app.request.headers.get('referer') %}
    <button class="btn-back btn-primary-custom" onclick="window.history.back();">
        <i class="fas fa-arrow-left"> Retour</i></button>
    {% endif %}
    {% include 'inc/_footer.html.twig' %}
</body>
</html>