
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card-flyer">
            <div class="text-box-custom">
                <div class="image-box-custom">
                            <a href="{{ path('create_new') }}" title="Créer un objet">
                                    <img src="{{ asset('build/images/placeholder_petshop.png') | imagine_filter('miniature')  }}" alt="Nouveau" />
                            </a>
                </div>
                <div class="text-container text-container-custom">
                    <h4 class="fonttext">Ajouter un élément à ma collection</h4>
                </div>
            </div>
        </div>
</div>


